# ENERG√çA EN EL MUNDO
### Leire Alonso

<img src="./torre.jpg" alt="Texto alternativo" width="500" height="500"/>

## üåç Introducci√≥n

Actualmente, los pa√≠ses enfrentan una presi√≥n creciente por reducir sus emisiones de gases de efecto invernadero. Sin embargo, mientras algunos pa√≠ses han avanzado en la transici√≥n hacia energ√≠as limpias, otros contin√∫an generando grandes cantidades de electricidad a partir de fuentes f√≥siles. Para compensar sus altos niveles de emisiones, muchos recurren a la compra de cr√©ditos de carbono, una herramienta del mercado clim√°tico que les permite financiar reducciones de emisiones en otros lugares del mundo.

Este proyecto analiza un conjunto de datos energ√©ticos, medioambientales y econ√≥micos a nivel mundial, con el objetivo de identificar qu√© pa√≠ses tienen altos niveles de generaci√≥n energ√©tica y emisiones de CO‚ÇÇ, y c√≥mo se relacionan con pr√°cticas como la compra de cr√©ditos de carbono. Entre los indicadores analizados se encuentran:

Acceso a electricidad y combustibles limpios

Capacidad instalada de energ√≠a renovable

Consumo de energ√≠a primaria y su intensidad

Generaci√≥n el√©ctrica por fuente (f√≥sil, nuclear, renovable)

Emisiones anuales de CO‚ÇÇ

PIB per c√°pita y crecimiento econ√≥mico

El an√°lisis busca destacar la paradoja de los pa√≠ses que, a pesar de contar con recursos y tecnolog√≠a para reducir emisiones, optan por compensarlas econ√≥micamente en lugar de reducirlas directamente. Esto abre el debate sobre la eficacia y la equidad de los mercados de carbono, y plantea interrogantes clave sobre la justicia clim√°tica y el verdadero compromiso de las econom√≠as m√°s contaminantes.

A trav√©s de visualizaciones y comparaciones regionales, este proyecto pretende ofrecer una mirada cr√≠tica a los patrones de consumo energ√©tico, las responsabilidades hist√≥ricas de emisiones, y el papel que juegan los cr√©ditos de carbono en las estrategias de sostenibilidad internacional.

## Datos obtenidos

Se ha obtenido un archivo de nombre global_data.csv en Kaggle que contiene la siguiente informaci√≥n por pais y a√±o:

| N¬∫ | Nombre original (en ingl√©s)                                      | Traducci√≥n al espa√±ol                                              |
| -- | ---------------------------------------------------------------- | ------------------------------------------------------------------ |
| 0  | Entity                                                           | Pa√≠s o entidad                                                     |
| 1  | Year                                                             | A√±o                                                                |
| 2  | Access to electricity (% of population)                          | Acceso a la electricidad (% de la poblaci√≥n)                       |
| 3  | Access to clean fuels for cooking                                | Acceso a combustibles limpios para cocinar                         |
| 4  | Renewable-electricity-generating-capacity-per-capita             | Capacidad per c√°pita de generaci√≥n de electricidad renovable       |
| 5  | Financial flows to developing countries (US \$)                  | Flujos financieros a pa√≠ses en desarrollo (US \$)                  |
| 6  | Renewable energy share in the total final energy consumption (%) | Porcentaje de energ√≠a renovable en el consumo final de energ√≠a (%) |
| 7  | Electricity from fossil fuels (TWh)                              | Electricidad generada a partir de combustibles f√≥siles (TWh)       |
| 8  | Electricity from nuclear (TWh)                                   | Electricidad generada por energ√≠a nuclear (TWh)                    |
| 9  | Electricity from renewables (TWh)                                | Electricidad generada por fuentes renovables (TWh)                 |
| 10 | Low-carbon electricity (% electricity)                           | Electricidad de bajas emisiones de carbono (% del total)           |
| 11 | Primary energy consumption per capita (kWh/person)               | Consumo de energ√≠a primaria per c√°pita (kWh/persona)               |
| 12 | Energy intensity level of primary energy (MJ/\$2017 PPP GDP)     | Intensidad energ√©tica de la energ√≠a primaria (MJ/\$ PIB PPA 2017)  |
| 13 | Value\_co2\_emissions\_kt\_by\_country                           | Emisiones de CO‚ÇÇ por pa√≠s (miles de toneladas)                     |
| 14 | Renewables (% equivalent primary energy)                         | Renovables (% equivalente de energ√≠a primaria)                     |
| 15 | gdp\_growth                                                      | Crecimiento del PIB                                                |
| 16 | gdp\_per\_capita                                                 | PIB per c√°pita                                                     |
| 17 | Density\n(P/Km2)                                                 | Densidad de poblaci√≥n (personas/km¬≤)                               |
| 18 | Land Area(Km2)                                                   | Superficie terrestre (km¬≤)                                         |
| 19 | Latitude                                                         | Latitud                                                            |
| 20 | Longitude                                                        | Longitud                                                           |

Los datos van del a√±o 2000 al 2020 y se incluyen 176 paises.

Se estudiar√° si es necesario completar con datos adicionales del mercado de creditos de carbono CAP AND TRADE.

## Resumen de la tabla

In [90]:
import numpy as np
import pandas as pd

In [91]:
df_energy=pd.read_csv ("global_data.csv")

In [92]:
df_energy

,Entity,Year,Access to electricity (% of population),Access to clean fuels for cooking,Renewable-electricity-generating-capacity-per-capita,Financial flows to developing countries (US $),Renewable energy share in the total final energy consumption (%),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),...,Primary energy consumption per capita (kWh/person),Energy intensity level of primary energy (MJ/$2017 PPP GDP),Value_co2_emissions_kt_by_country,Renewables (% equivalent primary energy),gdp_growth,gdp_per_capita,Density\n(P/Km2),Land Area(Km2),Latitude,Longitude
0,Afghanistan,2000,1.613591,6.2,9.22,20000.0,44.99,0.16,0.0,0.31,...,302.59482,1.64,760.000000,NaN,NaN,NaN,60,652230.0,33.939110,67.709953
1,Afghanistan,2001,4.074574,7.2,8.86,130000.0,45.60,0.09,0.0,0.50,...,236.89185,1.74,730.000000,NaN,NaN,NaN,60,652230.0,33.939110,67.709953
2,Afghanistan,2002,9.409158,8.2,8.47,3950000.0,37.83,0.13,0.0,0.56,...,210.86215,1.40,1029.999971,NaN,NaN,179.426579,60,652230.0,33.939110,67.709953
3,Afghanistan,2003,14.738506,9.5,8.09,25970000.0,36.66,0.31,0.0,0.63,...,229.96822,1.40,1220.000029,NaN,8.832278,190.683814,60,652230.0,33.939110,67.709953
4,Afghanistan,2004,20.064968,10.9,7.75,NaN,44.24,0.33,0.0,0.56,...,204.23125,1.20,1029.999971,NaN,1.414118,211.382074,60,652230.0,33.939110,67.709953
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3644,Zimbabwe,2016,42.561730,29.8,62.88,30000.0,81.90,3.50,0.0,3.32,...,3227.68020,10.00,11020.000460,NaN,0.755869,1464.588957,38,390757.0,-19.015438,29.154857
3645,Zimbabwe,2017,44.178635,29.8,62.33,5570000.0,82.46,3.05,0.0,4.30,...,3068.01150,9.51,10340.000150,NaN,4.709492,1235.189032,38,390757.0,-19.015438,29.154857
3646,Zimbabwe,2018,45.572647,29.9,82.53,10000.0,80.23,3.73,0.0,5.46,...,3441.98580,9.83,12380.000110,NaN,4.824211,1254.642265,38,390757.0,-19.015438,29.154857
3647,Zimbabwe,2019,46.781475,30.1,81.40,250000.0,81.50,3.66,0.0,4.58,...,3003.65530,10.47,11760.000230,NaN,-6.144236,1316.740657,38,390757.0,-19.015438,29.154857
3648,Zimbabwe,2020,52.747670,30.4,80.61,30000.0,81.90,3.40,0.0,4.19,...,2680.13180,10.00,NaN,NaN,-6.248748,1214.509820,38,390757.0,-19.015438,29.154857

In [93]:
df_energy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3649 entries, 0 to 3648
Data columns (total 21 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   Entity                                                            3649 non-null   object
 1   Year                                                              3649 non-null   int64
 2   Access to electricity (% of population)                           3639 non-null   float64
 3   Access to clean fuels for cooking                                 3480 non-null   float64
 4   Renewable-electricity-generating-capacity-per-capita              2718 non-null   float64
 5   Financial flows to developing countries (US $)                    1560 non-null   float64
 6   Renewable energy share in the total final energy consumption (%)  3455 non-null   float64
 7   Electricity from fossil fuels (TWh)                               3628 non-null   float64
 8   Electricity from nuclear (TWh)                                    3523 non-null   float64
 9   Electricity from renewables (TWh)                                 3628 non-null   float64
 10  Low-carbon electricity (% electricity)                            3607 non-null   float64
 11  Primary energy consumption per capita (kWh/person)                3649 non-null   float64
 12  Energy intensity level of primary energy (MJ/$2017 PPP GDP)       3442 non-null   float64
 13  Value_co2_emissions_kt_by_country                                 3221 non-null   float64
 14  Renewables (% equivalent primary energy)                          1512 non-null   float64
 15  gdp_growth                                                        3332 non-null   float64
 16  gdp_per_capita                                                    3367 non-null   float64
 17  Density\n(P/Km2)                                                  3648 non-null   object
 18  Land Area(Km2)                                                    3648 non-null   float64
 19  Latitude                                                          3648 non-null   float64
 20  Longitude                                                         3648 non-null   float64
dtypes: float64(18), int64(1), object(2)
memory usage: 598.8+ KB

In [94]:
#Numero de paises en la lista

len(df_energy['Entity'].unique())

176

In [97]:
df_energy.describe (include="all")

,Entity,Year,Access to electricity (% of population),Access to clean fuels for cooking,Renewable-electricity-generating-capacity-per-capita,Financial flows to developing countries (US $),Renewable energy share in the total final energy consumption (%),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),...,Primary energy consumption per capita (kWh/person),Energy intensity level of primary energy (MJ/$2017 PPP GDP),Value_co2_emissions_kt_by_country,Renewables (% equivalent primary energy),gdp_growth,gdp_per_capita,Density\n(P/Km2),Land Area(Km2),Latitude,Longitude
count,3649,3649.000000,3639.000000,3480.000000,2718.000000,1.560000e+03,3455.000000,3628.000000,3523.000000,3628.000000,...,3649.000000,3442.000000,3.221000e+03,1512.000000,3332.000000,3367.000000,3648,3.648000e+03,3648.000000,3648.000000
unique,176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,124,NaN,NaN,NaN
top,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,25,NaN,NaN,NaN
freq,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,147,NaN,NaN,NaN
mean,NaN,2010.038367,78.933702,63.255287,113.137498,9.422400e+07,32.638165,70.365003,13.450190,23.968010,...,25743.981745,5.307345,1.598665e+05,11.986707,3.441610,13283.774348,NaN,6.332135e+05,18.246388,14.822695
std,NaN,6.054228,30.275541,39.043658,244.167256,2.981544e+08,29.894901,348.051866,73.006623,104.431085,...,34773.221366,3.532020,7.736611e+05,14.994644,5.686720,19709.866716,NaN,1.585519e+06,24.159232,66.348148
min,NaN,2000.000000,1.252269,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.110000,1.000000e+01,0.000000,-62.075920,111.927225,NaN,2.100000e+01,-40.900557,-175.198242
25%,NaN,2005.000000,59.800890,23.175000,3.540000,2.600000e+05,6.515000,0.290000,0.000000,0.040000,...,3116.737300,3.170000,2.020000e+03,2.137095,1.383302,1337.813437,NaN,2.571300e+04,3.202778,-11.779889
50%,NaN,2010.000000,98.361570,83.150000,32.910000,5.665000e+06,23.300000,2.970000,0.000000,1.470000,...,13120.570000,4.300000,1.050000e+04,6.290766,3.559855,4578.633208,NaN,1.176000e+05,17.189877,19.145136
75%,NaN,2015.000000,100.000000,100.000000,112.210000,5.534750e+07,55.245000,26.837500,0.000000,9.600000,...,33892.780000,6.027500,6.058000e+04,16.841638,5.830099,15768.615365,NaN,5.131200e+05,38.969719,46.199616
max,NaN,2020.000000,100.000000,100.000000,3060.190000,5.202310e+09,96.040000,5184.130000,809.410000,2184.940000,...,262585.700000,32.570000,1.070722e+07,86.836586,123.139555,123514.196700,NaN,9.984670e+06,64.963051,178.065032

## Buscando NaN

Tras realizar una revisi√≥n de los valores faltantes (NaN) en la tabla, se ha identificado la necesidad de eliminar algunos registros y omitir otros. No se ha llevado a cabo el proceso de limpieza de datos hasta el momento.

In [98]:
df_energy.isnull()

,Entity,Year,Access to electricity (% of population),Access to clean fuels for cooking,Renewable-electricity-generating-capacity-per-capita,Financial flows to developing countries (US $),Renewable energy share in the total final energy consumption (%),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),...,Primary energy consumption per capita (kWh/person),Energy intensity level of primary energy (MJ/$2017 PPP GDP),Value_co2_emissions_kt_by_country,Renewables (% equivalent primary energy),gdp_growth,gdp_per_capita,Density\n(P/Km2),Land Area(Km2),Latitude,Longitude
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
4,False,False,False,False,False,True,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3644,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
3645,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
3646,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
3647,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
3648,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,False,False,False,False,False,False

In [99]:
df_energy.isnull().sum()

Entity                                                                 0
Year                                                                   0
Access to electricity (% of population)                               10
Access to clean fuels for cooking                                    169
Renewable-electricity-generating-capacity-per-capita                 931
Financial flows to developing countries (US $)                      2089
Renewable energy share in the total final energy consumption (%)     194
Electricity from fossil fuels (TWh)                                   21
Electricity from nuclear (TWh)                                       126
Electricity from renewables (TWh)                                     21
Low-carbon electricity (% electricity)                                42
Primary energy consumption per capita (kWh/person)                     0
Energy intensity level of primary energy (MJ/$2017 PPP GDP)          207
Value_co2_emissions_kt_by_country                                    428
Renewables (% equivalent primary energy)                            2137
gdp_growth                                                           317
gdp_per_capita                                                       282
Density\n(P/Km2)                                                       1
Land Area(Km2)                                                         1
Latitude                                                               1
Longitude                                                              1
dtype: int64

## Hipotesis

1- Los pa√≠ses con mayor intensidad energ√©tica tienen un menor grado de eficiencia econ√≥mica.
Relaci√≥n entre ‚ÄúEnergy intensity level of primary energy‚Äù y ‚Äúgdp_per_capita‚Äù.

2- Los pa√≠ses que generan m√°s electricidad a partir de combustibles f√≥siles tienden a tener mayores emisiones de CO‚ÇÇ.
Relaci√≥n entre ‚ÄúElectricity from fossil fuels‚Äù y ‚ÄúValue_co2_emissions_kt_by_country‚Äù.

3- El acceso a combustibles limpios para cocinar est√° positivamente correlacionado con el nivel de desarrollo econ√≥mico.
Relaci√≥n entre ‚ÄúAccess to clean fuels for cooking‚Äù y ‚Äúgdp_per_capita‚Äù.

4- Los pa√≠ses con mayor participaci√≥n de energ√≠a renovable en el consumo final tienen una menor intensidad energ√©tica.
Relaci√≥n entre ‚ÄúRenewable energy share in the total final energy consumption‚Äù y ‚ÄúEnergy intensity level of primary energy‚Äù.

5- Los paises m√°s ricos son los que compran mas creditos de carbono. Y los mas porbres los que los venden.

6- Los paises ricos emiten m√°s CO2 que lo compensan con la copra de creditos de carbono.


Backup:

7- Los pa√≠ses con mayor acceso a la electricidad tienen un PIB per c√°pita m√°s alto.
Relaci√≥n entre ‚ÄúAccess to electricity‚Äù y ‚Äúgdp_per_capita‚Äù.

8- El incremento en la generaci√≥n de electricidad a partir de fuentes renovables reduce las emisiones de CO‚ÇÇ.
Relaci√≥n entre ‚ÄúElectricity from renewables‚Äù y ‚ÄúValue_co2_emissions_kt_by_country‚Äù.

## Limpiar la tabla

In [103]:
df_energy_limpio=df_energy.fillna(0)

In [133]:
#cambiar los nombres de las columnas
df_energy_limpio.columns = [col.replace('$', 'dolar') for col in df_energy_limpio.columns]
df_energy_limpio.columns = [col.replace('%', 'perc') for col in df_energy_limpio.columns]

In [134]:
df_energy_limpio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3649 entries, 0 to 3648
Data columns (total 21 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Entity                                                               3649 non-null   object
 1   Year                                                                 3649 non-null   int64
 2   Access to electricity (perc of population)                           3649 non-null   float64
 3   Access to clean fuels for cooking                                    3649 non-null   float64
 4   Renewable-electricity-generating-capacity-per-capita                 3649 non-null   float64
 5   Financial flows to developing countries (US dolar)                   3649 non-null   float64
 6   Renewable energy share in the total final energy consumption (perc)  3649 non-null   float64
 7   Electricity from fossil fuels (TWh)                                  3649 non-null   float64
 8   Electricity from nuclear (TWh)                                       3649 non-null   float64
 9   Electricity from renewables (TWh)                                    3649 non-null   float64
 10  Low-carbon electricity (perc electricity)                            3649 non-null   float64
 11  Primary energy consumption per capita (kWh/person)                   3649 non-null   float64
 12  Energy intensity level of primary energy (MJ/dolar2017 PPP GDP)      3649 non-null   float64
 13  Value_co2_emissions_kt_by_country                                    3649 non-null   float64
 14  Renewables (perc equivalent primary energy)                          3649 non-null   float64
 15  gdp_growth                                                           3649 non-null   float64
 16  gdp_per_capita                                                       3649 non-null   float64
 17  Density\n(P/Km2)                                                     3649 non-null   object
 18  Land Area(Km2)                                                       3649 non-null   float64
 19  Latitude                                                             3649 non-null   float64
 20  Longitude                                                            3649 non-null   float64
dtypes: float64(18), int64(1), object(2)
memory usage: 598.8+ KB

## Revisar datos

In [135]:
df_access=df_energy_limpio.groupby("Year")[["Access to clean fuels for cooking"]].mean()

df_access

      Access to clean fuels for cooking
Year
2000                          55.042486
2001                          55.901744
2002                          56.439535
2003                          56.999419
2004                          57.526163
2005                          58.070058
2006                          58.614826
2007                          59.199138
2008                          59.725000
2009                          60.221264
2010                          60.716379
2011                          61.204885
2012                          61.650862
2013                          61.732571
2014                          62.173429
2015                          62.566000
2016                          62.987714
2017                          63.361429
2018                          63.741714
2019                          64.115714
2020                          64.477429

In [136]:
df_access=df_energy_limpio.groupby("Year")[["Access to clean fuels for cooking"]].mean()

df_access

      Access to clean fuels for cooking
Year
2000                          55.042486
2001                          55.901744
2002                          56.439535
2003                          56.999419
2004                          57.526163
2005                          58.070058
2006                          58.614826
2007                          59.199138
2008                          59.725000
2009                          60.221264
2010                          60.716379
2011                          61.204885
2012                          61.650862
2013                          61.732571
2014                          62.173429
2015                          62.566000
2016                          62.987714
2017                          63.361429
2018                          63.741714
2019                          64.115714
2020                          64.477429

In [137]:
df_energy_limpio[df_energy_limpio ["Year"]=="2020"][["Access to clean fuels for cooking"]].mean()

Access to clean fuels for cooking   NaN
dtype: float64

In [139]:
df_2020 = df_energy_limpio[df_energy_limpio["Year"] == 2020]

# Seleccionar columnas necesarias
result = df_2020[["Entity", "Financial flows to developing countries (US dolar)"]].sort_values(by="Financial flows to developing countries (US dolar)", ascending=False)
result

                   Entity  Financial flows to developing countries (US dolar)
3648             Zimbabwe                                            30000.0
41                Albania                                                0.0
20            Afghanistan                                                0.0
83                 Angola                                                0.0
104   Antigua and Barbuda                                                0.0
...                   ...                                                ...
3522        United States                                                0.0
3564           Uzbekistan                                                0.0
3585              Vanuatu                                                0.0
3606                Yemen                                                0.0
3627               Zambia                                                0.0

[175 rows x 2 columns]

In [145]:
df_energy_limpio[df_energy_limpio ["Year"]=="2019"][["Access to clean fuels for cooking"]].mean()
df_2019 = df_energy_limpio[df_energy_limpio["Year"] == 2019]

# Seleccionar columnas necesarias
result = df_2019[["Entity", "Financial flows to developing countries (US dolar)"]].sort_values(by="Financial flows to developing countries (US dolar)", ascending=False)
result

                    Entity  Financial flows to developing countries (US dolar)
2449               Nigeria                                       1.172580e+09
1406                Guinea                                       8.198000e+08
1553                 India                                       7.863300e+08
124              Argentina                                       4.744600e+08
2218               Morocco                                       4.134800e+08
...                    ...                                                ...
3458               Ukraine                                       0.000000e+00
3479  United Arab Emirates                                       0.000000e+00
3542               Uruguay                                       0.000000e+00
3500        United Kingdom                                       0.000000e+00
3521         United States                                       0.000000e+00

[175 rows x 2 columns]